# Manipulating Data in Python

# Installing packages:

### On a Mac: 
   - Open terminal 

### On Windows: 
   - cmd on Windows

### What is this? 
- Like an explorer window. The text at the start of the line tells you where you are. 
- To see what's there, type: 
- On Mac: ls 
- On Windows: dir

### What am I doing here? 
Install some packages so they are done by the time we need them.
    Type:
    
- pip install pandas

When that's done, type: 

- pip install matplotlib
- pip install pickle
- pip install statsmodels
    
Note: if you installed the Continuum Python distribution, you may already have some of these packages installed. 

### What just happened?
- Pip is a download manager, it automatically looks online to find the package and installs it on your computer
- Similar to the CRAN Mirror
- Bonus: `conda install` works similarly to pip, and also works on many R packages when used with Jupyter notebooks. 


# Opening Jupyter
- Open up another terminal/command prompt while your packages download
- Navigate to the directory you want your script to be in
  - Type `ls` to see what folders are in the current folder
  - Type cd .. to go one folder up
  - Type cd folder_name to go to a sub-folder
    - Type mkdir folder_name to make a folder
  - Type: 
    - jupyter notebook

### What happened? 
- A browser window popped up
- Address something along the lines of localhost:8888/tree
- Address is listed in the terminal/command prompt 
- Go to this address from any browser to open your tree
    
### Your Jupyter Tree
- You should be in the folder you navigated to in terminal/cmd
- You can make folders here too
- Top right, select new notebook, python3

## Enjoy your python programming environment!

# Some basics

## Whitespace matters
* tabs indicate a block of code within an if statement or loop
* : marks the start of the block
* \ for a linebreak mid-line
* Line breaks allowed inside (), [], {}

## Basic data structures
* Lists []
 * ordered list of objects
 * mutable. Workhorse
 * 0 indexed
* Dictionaries {key:value}
 *key value pairs indexed by key
* Sets {}
 * Unordered, but unique
* Tuples ()
 * ordered and immutable
* Strings ''

In [3]:
my_list = [0,1,2,3,4]
print('lists are indexed by position')
print(my_list[1])
print('lists are mutable')
my_list[2]='hello'
print(my_list)

my_dictionary = {'apple':4,
                'pear':'yum',
                'numbers':my_list}
print('Dictionaries are indexed by value')
print(my_dictionary['apple'])

my_set = ('thing1','thing2','cat in hat','thing1', 4,4)
print('Sets are unique, but unordered')
print(my_set)

print('Strings are text')
my_string = 'hello world'
print(my_string)

lists are indexed by position
1
lists are mutable
[0, 1, 'hello', 3, 4]
Dictionaries are indexed by value
4
Sets are unique, but unordered
('thing1', 'thing2', 'cat in hat', 'thing1', 4, 4)
Strings are text
hello world

## Loops
### If statements
* == to evaluate
* = to assign
* Compare with: <, <=, >, >=, ==, !=, in, not in,
* True, False, None are booleans and null.

In [18]:
# check = True
# check = False
# check = None
# check = 'monkey'
# check = 0
check = 10
print(check)
if check == 'monkey':
    print('banana')
elif check:
    print('yes')
else:
    print('no')
    
if 1 not in [1,2,3]:
    print('not not in')
if 1 in [1,2,3]:
    print('in')

10
yes
in

### While loops
* Do something in block of code until condition met
* Make sure you change the condition in every loop, or it will go forever

In [23]:
n = 0
while n < 5:
    print(n)
    n= n+1

0
1
2
3
4

### For loops
* repeat block of code for:
  * a certain number of iterations
  * For every element in a list
* range() gives you an iterator

In [22]:
print('use a range:')
for i in range(3):
    print(i)
print('use a range slice:')
for i in range(3,6):
    print(i)
print('iterate throubh a list:')
for i in my_list:
    print(i)

use a range:
0
1
2
use a range slice:
3
4
5
iterate throubh a list:
0
1
hello
3
4

### Put them together:

In [29]:
my_list = [0,1,'cat',None,'frog',3]
animals = []
nums = []
for i in my_list:
    if type(i)==str:
        animals.append(i)
    elif type(i)==int:
        nums.append(i)
    else:
        pass
print(animals)
print(nums)

['cat', 'frog']
[0, 1, 3]

#### These are the basic building blocks for scripting. To learn more about how to put them together to greater effect, take an introductory computer science course.

## Import packages
* Like library(package) in R
* Pandas is a dataframe data structure like dataframes in R
* matplotlib is a plotting package similar to plotting in Matlab
 * you can view plots inline in pandas notebooks with the inline command
* ggplot is a plotting package built on matplotlib like ggplot2 in R
* Pickle lets you save your workspace
* Statsmodels contains many of the statistical models you know and love

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# from ggplot import *
import pickle
import statsmodels.api as sm

# Pandas Data Frames
## Using Documentation
* Pandas website
* Stack Overflow
* Copy errors into google
* Syntax questions when moving from R to Python
## Load Data from a comma separated file
* Start by googling it: http://lmgtfy.com/?q=pandas+load+csv

In [36]:
my_df = pd.read_csv('migration_dums.csv')

#### Look at the data

In [38]:
my_df.head()

,date,Province,index,destination,origin,Dest_difs,Orig_difs,death,events,pos,...,caliphate,dawn of glad tidings,islamic state,islamic state in iraq and the levant,jabhat al-nusra,khilafah,peshmerga,terrorists,yazidis,c_y
0,2014-09-30,Anbar,0,57543.0,83251.0,NaN,NaN,223.0,3.0,6689.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-30,Babylon,1,4126.0,989.0,NaN,NaN,35.0,0.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-30,Baghdad,2,18322.0,5106.0,NaN,NaN,349.0,3.0,2733.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-30,Basrah,3,1137.0,0.0,NaN,NaN,6.0,0.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-30,Dahuk,4,73782.0,0.0,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Rename things and adjust values

In [65]:
my_df.rename(columns = {'destination':'Destination',
                       'origin':'Origin',
                       'events':'Attacks'},
            inplace = True)
my_df.replace({'Province':{'Babylon':'Babil'}},
            inplace = True)
my_df.Dest_difs = my_df.Dest_difs.fillna(-77)
print(my_df.shape)
my_df.head()

(594, 138)

                     index  Destination   Origin  Dest_difs  Orig_difs  death  \
date       Province
2014-09-30 Anbar         0      57543.0  83251.0      -77.0        NaN  223.0
           Babil         1       4126.0    989.0      -77.0        NaN   35.0
           Baghdad       2      18322.0   5106.0      -77.0        NaN  349.0
           Basrah        3       1137.0      0.0      -77.0        NaN    6.0
           Dahuk         4      73782.0      0.0      -77.0        NaN    0.0

                     Attacks     pos      neg      Pop ...   caliphate  \
date       Province                                    ...
2014-09-30 Anbar         3.0  6689.0  15509.0  1561400 ...         NaN
           Babil         0.0   118.0    190.0  1820700 ...         NaN
           Baghdad       3.0  2733.0   7205.0  7055200 ...         NaN
           Basrah        0.0   155.0     62.0  2532000 ...         NaN
           Dahuk         0.0     0.0      6.0  1128700 ...         NaN

                     dawn of glad tidings  islamic state  \
date       Province
2014-09-30 Anbar                      NaN            NaN
           Babil                      NaN            NaN
           Baghdad                    NaN            NaN
           Basrah                     NaN            NaN
           Dahuk                      NaN            NaN

                     islamic state in iraq and the levant  jabhat al-nusra  \
date       Province
2014-09-30 Anbar                                      NaN              NaN
           Babil                                      NaN              NaN
           Baghdad                                    NaN              NaN
           Basrah                                     NaN              NaN
           Dahuk                                      NaN              NaN

                     khilafah  peshmerga  terrorists  yazidis  c_y
date       Province
2014-09-30 Anbar          NaN        NaN         NaN      NaN  NaN
           Babil          NaN        NaN         NaN      NaN  NaN
           Baghdad        NaN        NaN         NaN      NaN  NaN
           Basrah         NaN        NaN         NaN      NaN  NaN
           Dahuk          NaN        NaN         NaN      NaN  NaN

[5 rows x 138 columns]

#### Set a useful index

In [53]:
#Set the index
my_df.set_index(['date'],inplace = True)
print(my_df.head())
# Pop it back
my_df.reset_index(inplace=True)
#Set it again
my_df.set_index(['date','Province'],inplace = True)
my_df.head()

           Province  index  Destination   Origin  Dest_difs  Orig_difs  death  \
date
2014-09-30    Anbar      0      57543.0  83251.0      -77.0        NaN  223.0
2014-09-30    Babil      1       4126.0    989.0      -77.0        NaN   35.0
2014-09-30  Baghdad      2      18322.0   5106.0      -77.0        NaN  349.0
2014-09-30   Basrah      3       1137.0      0.0      -77.0        NaN    6.0
2014-09-30    Dahuk      4      73782.0      0.0      -77.0        NaN    0.0

            Attacks     pos      neg ...   caliphate  dawn of glad tidings  \
date                                 ...
2014-09-30      3.0  6689.0  15509.0 ...         NaN                   NaN
2014-09-30      0.0   118.0    190.0 ...         NaN                   NaN
2014-09-30      3.0  2733.0   7205.0 ...         NaN                   NaN
2014-09-30      0.0   155.0     62.0 ...         NaN                   NaN
2014-09-30      0.0     0.0      6.0 ...         NaN                   NaN

            islamic state  islamic state in iraq and the levant  \
date
2014-09-30            NaN                                   NaN
2014-09-30            NaN                                   NaN
2014-09-30            NaN                                   NaN
2014-09-30            NaN                                   NaN
2014-09-30            NaN                                   NaN

            jabhat al-nusra  khilafah  peshmerga  terrorists  yazidis  c_y
date
2014-09-30              NaN       NaN        NaN         NaN      NaN  NaN
2014-09-30              NaN       NaN        NaN         NaN      NaN  NaN
2014-09-30              NaN       NaN        NaN         NaN      NaN  NaN
2014-09-30              NaN       NaN        NaN         NaN      NaN  NaN
2014-09-30              NaN       NaN        NaN         NaN      NaN  NaN

[5 rows x 139 columns]

                     index  Destination   Origin  Dest_difs  Orig_difs  death  \
date       Province
2014-09-30 Anbar         0      57543.0  83251.0      -77.0        NaN  223.0
           Babil         1       4126.0    989.0      -77.0        NaN   35.0
           Baghdad       2      18322.0   5106.0      -77.0        NaN  349.0
           Basrah        3       1137.0      0.0      -77.0        NaN    6.0
           Dahuk         4      73782.0      0.0      -77.0        NaN    0.0

                     Attacks     pos      neg      Pop ...   caliphate  \
date       Province                                    ...
2014-09-30 Anbar         3.0  6689.0  15509.0  1561400 ...         NaN
           Babil         0.0   118.0    190.0  1820700 ...         NaN
           Baghdad       3.0  2733.0   7205.0  7055200 ...         NaN
           Basrah        0.0   155.0     62.0  2532000 ...         NaN
           Dahuk         0.0     0.0      6.0  1128700 ...         NaN

                     dawn of glad tidings  islamic state  \
date       Province
2014-09-30 Anbar                      NaN            NaN
           Babil                      NaN            NaN
           Baghdad                    NaN            NaN
           Basrah                     NaN            NaN
           Dahuk                      NaN            NaN

                     islamic state in iraq and the levant  jabhat al-nusra  \
date       Province
2014-09-30 Anbar                                      NaN              NaN
           Babil                                      NaN              NaN
           Baghdad                                    NaN              NaN
           Basrah                                     NaN              NaN
           Dahuk                                      NaN              NaN

                     khilafah  peshmerga  terrorists  yazidis  c_y
date       Province
2014-09-30 Anbar          NaN        NaN         NaN      NaN  NaN
           Babil          NaN        NaN         NaN      NaN  NaN
           Baghdad        NaN        NaN         NaN      NaN  NaN
           Basrah         NaN        NaN         NaN      NaN  NaN
           Dahuk          NaN        NaN         NaN      NaN  NaN

[5 rows x 138 columns]

### Slicing

In [62]:
anbar = my_df.xs('Anbar',level = 'Province',drop_level=False)
anbar = anbar.loc[anbar.Attacks>2,['Origin','Destination','vol','Attacks']]
anbar.head()

                       Origin  Destination      vol  Attacks
date       Province
2014-09-30 Anbar      83251.0      57543.0  22198.0      3.0
2014-10-31 Anbar      88287.0      61290.0  53056.0      5.0
2014-11-30 Anbar      90717.0      62678.0   4025.0      6.0
2015-09-30 Anbar     226184.0      96375.0   9890.0      3.0

### Making copies
* If you set a variable as equal to an object, Python creates a reference rather than copying the whole object. More efficient, unless you really want to make a copy

In [67]:
little_df = pd.DataFrame([1,2,3,4,5],columns = ['A'])
little_df['B']=[0,1,0,1,1]
copied_df = little_df
print('before:')
print(copied_df)
little_df.loc[little_df.A == 3,'B'] = 7
print('after')
copied_df

before:
   A  B
0  1  0
1  2  1
2  3  0
3  4  1
4  5  1
after

   A  B
0  1  0
1  2  1
2  3  7
3  4  1
4  5  1

### What happened?
* copied_df changed when little_df changed. 
* Let's fix that: import "copy"

In [68]:
import copy
little_df = pd.DataFrame([1,2,3,4,5],columns = ['A'])
little_df['B']=[0,1,0,1,1]
copied_df = little_df.copy()
print('before:')
print(copied_df)
little_df.loc[little_df.A == 3,'B'] = 7
print('after')
copied_df

before:
   A  B
0  1  0
1  2  1
2  3  0
3  4  1
4  5  1
after

   A  B
0  1  0
1  2  1
2  3  0
3  4  1
4  5  1

# Merging and Concatenating

* Merges automatically if shared index

In [73]:
C = pd.DataFrame(['apple','orange','grape','pear','banana'],
                 columns = ['C'],
                 index = [2,4,3,0,1])
little_df['C'] = C
little_df

   A  B       C
0  1  0    pear
1  2  1  banana
2  3  7   apple
3  4  1   grape
4  5  1  orange

### Joins
* Same as SQL, inner and outer

In [85]:
C = pd.DataFrame(['apple','orange','grape','apple'],
                 columns = ['C'],
                 index = [2,4,3,'a'])
C['cuts']=['slices','wedges','whole','spirals']
print('C:')
print(C)
print('Inner: Intersection')
print(little_df.merge(right=C,
                how='inner',
                on=None,
                left_index = True,
                right_index =True))
print('Outer: Keep all rows')
print(little_df.merge(right=C,
                how='outer',
                on=None,
                left_index = True,
                right_index =True))

print('Left: Keep little_df')
print(little_df.merge(right=C,
                how='left',
                on=None,
                left_index = True,
                right_index =True))
print('Right: Keep C')
print(little_df.merge(right=C,
                how='right',
                on=None,
                left_index = True,
                right_index =True))

print('Outer, merging on column instead of index')
print(little_df.merge(right=C,
                how='outer',
                on='C',
                left_index = True,
                right_index =True))

C:
        C     cuts
2   apple   slices
4  orange   wedges
3   grape    whole
a   apple  spirals
Inner: Intersection
   A  B     C_x     C_y    cuts
2  3  7   apple   apple  slices
3  4  1   grape   grape   whole
4  5  1  orange  orange  wedges
Outer: Keep all rows
     A    B     C_x     C_y     cuts
0  1.0  0.0    pear     NaN      NaN
1  2.0  1.0  banana     NaN      NaN
2  3.0  7.0   apple   apple   slices
3  4.0  1.0   grape   grape    whole
4  5.0  1.0  orange  orange   wedges
a  NaN  NaN     NaN   apple  spirals
Left: Keep little_df
   A  B     C_x     C_y    cuts
0  1  0    pear     NaN     NaN
1  2  1  banana     NaN     NaN
2  3  7   apple   apple  slices
3  4  1   grape   grape   whole
4  5  1  orange  orange  wedges
Right: Keep C
     A    B     C_x     C_y     cuts
2  3.0  7.0   apple   apple   slices
4  5.0  1.0  orange  orange   wedges
3  4.0  1.0   grape   grape    whole
a  NaN  NaN     NaN   apple  spirals
Outer, merging on column instead of index
     A    B       C     cuts
0  1.0  0.0    pear      NaN
1  2.0  1.0  banana      NaN
2  3.0  7.0   apple   slices
3  4.0  1.0   grape    whole
4  5.0  1.0  orange   wedges
a  NaN  NaN   apple  spirals

/home/law98/anaconda/envs/p3env/lib/python3.6/site-packages/pandas/core/indexes/base.py:3033: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

### Concatenate
* Stack dataframes on top of one another
* Stack dataframes beside one another

In [94]:
add_df = pd.DataFrame({'A':[6],'B':[7],'C':'peach'},index= ['p'])
little_df = pd.concat([little_df,add_df])
little_df

   A  B       C
0  1  0    pear
1  2  1  banana
2  3  7   apple
3  4  1   grape
4  5  1  orange
0  6  7   peach
p  6  7   peach

# Manipulating (group by, map, apply)

# Dummies, Lags, and Leads

# Saving
* Save as a csv now that we have the data we want
* Pickle a variable to recreate it without having to reset indexes, etc.

In [ ]:
anbar.write_csv()
pickle.dump(anbar, open('anbar.p','wb'))
anbar = pickle.load(open('anbar.p','rb'))

# Plotting

# Statsmodel

# Simple ML model